/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i'); */
@import url('https://fonts.googleapis.com/css?family=Roboto'); 
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
* {
    font-family: 'Roboto', sans-serif;
    /* border-radius: 0.3rem; */
    box-sizing: border-box;
}
div:empty {
    border: initial;
    margin: 0;
    padding: 0;
}
div {
    padding: 0.1rem;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 0.1rem 0;
}
input, button, select, option, textarea, .custom-file-upload {
    background-color: #eee;
    display: block;
    border: 1px solid #ccc;
    padding: 0.3rem;
    margin: 0.3rem;
    min-width: 6rem;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.5); */
    transition: background-color 0.3s;
    margin-bottom: 1rem;
    font-size: 1em;
}
.form {
    background-color: rgba(0,0,0,0.3);
}
.form input[type=input] {
    display: inline-block;
    width: -webkit-fill-available;
}
input[type=button], button, .custom-file-upload {
    cursor: pointer;
}
input[type=button]:hover, button:hover, .custom-file-upload:hover {
    background-color: #ccf;
}
body {
    /* background-color: #011; */
    /* background-image: url(https://sqlundercover.files.wordpress.com/2017/07/zenmate.jpg?w=1400); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    min-height: 93vh;
}
body > div {
    border-radius: 0;
    background-color: #aaaaaa5c;
    max-width: 1200px;
    margin: auto;
    /* margin-top: 2rem; */
    box-sizing: border-box;
}
body > div.login-form {
    position: absolute;
    width: 500px;
    height: 400px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin auto;
}
body > div > div {
    background-color: #d8dfffd4;
}

input.classInput {
    border: 1px solid red;
}
.inline {
    display: table-row;
}
.table {
    /* display: table-row; */
}
.code-container:empty {
   display: none;
}
.code-container {
    font-family: Courier New;
    font-size: 11pt;
    padding: 0.5rem;
    width: calc(100% - 6rem);
    /* max-width: 732px; */
    word-wrap: break-word;
    /* text-align: center; */
    background-color: #fff;
    border: 1px solid #ccc;
    /* margin: 2rem auto; */
    margin: auto;
}
p {
    word-wrap: break-word;
    /* display: inline; */
    padding: 0 3px;
    margin: 0;
}
p.code-container::before {
    content: attr(data-title);
    background-color: #f1f1f1;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    display: inline-block;
}

.code-container[data-title]:empty {
    display: inline-block;
}

.preloader-fullscreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 40vh 0rem;
    max-width: initial;
}

hr {
    /* display: none; */
}